@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular_Bold";
  src: url("/fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "Circular_Light";
  src: url("/fonts/AvenirLTStd-Light.otf");
}

html {
  scroll-behavior: smooth;
}

.bg-home {
  background-image: url("/home.jpg");
}

.bg-discover {
  background-image: url("/discover-hero.svg");
}

.bg-community {
  background-image: url("/community-hero.jpg");
}

.bg-dashboard {
  background-image: url("/dashboard-hero.jpg");
}

.showcase-container {
  padding: 3em 0 0 0;
  width: calc(25vw * 3 + 4vw * 3);
}

.showcase {
  background-size: cover;
  width: 26.3vw;
  height: 26.3vw;
  max-width: 460px;
  max-height: 460px;
  margin-bottom: 3vw;
  padding: 0;
  overflow: hidden;
}

.showcase-long {
  background-size: cover;
  background-position: center;
  width: 55.5vw;
  max-width: (910px + 3vw);
  height: 26.3vw;
  margin-bottom: 3vw;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: 200;
}

@media only screen and (max-width: 1225px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 615px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .showcase,
  .showcase-long {
    height: 40vw;
    width: 100%;
    max-width: none;
    background-position: center;
  }
}

.showcase-hover {
  opacity: 0;
}

.showcase-hover:hover {
  background-color: rgba(255, 255, 255, 0.95);
  color: #616467;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  opacity: 1;
  padding: 40px;
  text-align: center;
  transition: opacity 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .showcase-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1400px) {
  .showcase-container {
    max-width: calc(450px * 3 + 3vw * 2);
  }
}
