@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular_Bold";
  src: url("/fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "Circular_Light";
  src: url("/fonts/AvenirLTStd-Light.otf");
}

.bg-home {
  background-image: url("/home.jpg");
}

.bg-discover {
  background-image: url("/discover-hero.svg");
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: 200;
}

@media only screen and (max-width: 1225px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 615px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}
