@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular_Bold";
  src: url("/fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "Circular_Light";
  src: url("/fonts/AvenirLTStd-Light.otf");
}

.bg-home {
  background-image: url("/home.jpg");
}

.community:hover {
  content: "";
}
